.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.cards-list {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.cards-list li {
  width: 25%;
}

.card {
  margin: 5% auto;
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 10px;
}


.card__front {
  width: 200px;
  height: 200px;
  background: #aaaaaa;
  position: absolute;
  z-index: 2;
  transform: rotateX(0deg);
  top: 0;
  left: 0;
  backface-visibility: hidden;
  font-family: "Comic Sans MS";
  cursor: pointer;
}



.card img {
  width: 200px;
  height: 200px;
  position: absolute;
  transform: rotateX(180deg);
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card.card--flipped, .card.card--guessed {
  transform: rotateX(180deg);
}

